n8n/workflows/external-conversions/external-repo-workflows/core_link/validate_core_link.json
{
  "name": "Validate Core Link",
  "nodes": [
    {
      "parameters": {},
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [820, 300],
      "id": "trigger-validate-core-link"
    },
    {
      "parameters": {
        "content": "## Core Link Validation Workflow\n\n**Purpose**: Validate core link consistency across systems\n\n**Validation Scope**:\n- NetBox cable configuration vs actual state\n- Port configurations and status\n- IPv6 address assignments\n- Network resource manager synchronization\n- Configuration deployment status\n\n**Process**:\n1. Load core link subscription data\n2. Validate cable connections in NetBox\n3. Verify port configurations on both sides\n4. Check IPv6 address assignments\n5. Validate against external systems\n6. Report discrepancies and sync status\n\n**Environment Variables Used**:\n- `NETBOX_TOKEN`: NetBox API authentication\n- `NETBOX_URL`: NetBox instance URL\n- `CORE_LINK_SUBSCRIPTION_ID`: Target core link ID"
      },
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [400, 80],
      "id": "doc-validate-core-link"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow_id",
              "name": "workflow_id",
              "type": "string",
              "value": "={{ $runIndex }}_validate_core_link_{{ Date.now() }}"
            },
            {
              "id": "workflow_type",
              "name": "workflow_type",
              "type": "string",
              "value": "validate_workflow"
            },
            {
              "id": "product_type",
              "name": "product_type",
              "type": "string",
              "value": "CoreLink"
            },
            {
              "id": "target",
              "name": "target",
              "type": "string",
              "value": "VALIDATE"
            },
            {
              "id": "subscription_id",
              "name": "subscription_id",
              "type": "string",
              "value": "{{ $env.CORE_LINK_SUBSCRIPTION_ID || 'sample-core-link-123' }}"
            }
          ]
        }
      },
      "name": "Initialize Validation Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1040, 300],
      "id": "init-validation-vars"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.NETBOX_URL }}/api/dcim/cables/{{ $json.subscription_id }}/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "netBoxApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token {{ $env.NETBOX_TOKEN }}"
            }
          ]
        }
      },
      "name": "Load Core Link from NetBox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1260, 300],
      "id": "load-core-link-netbox"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "link-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Check Core Link Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1480, 300],
      "id": "check-link-exists"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "validation_status",
              "name": "validation_status",
              "type": "string",
              "value": "failed"
            },
            {
              "id": "error_message",
              "name": "error_message",
              "type": "string",
              "value": "Core link not found in NetBox"
            },
            {
              "id": "error_code",
              "name": "error_code",
              "type": "string",
              "value": "CORE_LINK_NOT_FOUND"
            }
          ]
        }
      },
      "name": "Set Validation Error - Not Found",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1700, 480],
      "id": "validation-error-not-found"
    },
    {
      "parameters": {
        "jsCode": "// Validate core link configuration in NetBox\nconst coreLink = $input.all()[0].json;\nconst workflowVars = $('Initialize Validation Variables').item(0).json;\n\n// Initialize validation results\nlet validationResults = {\n  workflow_id: workflowVars.workflow_id,\n  subscription_id: workflowVars.subscription_id,\n  core_link_id: coreLink.id,\n  validations: {\n    cable_configuration: { status: 'unknown', details: {} },\n    port_configuration: { status: 'unknown', details: {} },\n    ipv6_assignments: { status: 'unknown', details: {} },\n    nrm_synchronization: { status: 'unknown', details: {} }\n  },\n  overall_status: 'in_progress',\n  timestamp: new Date().toISOString()\n};\n\n// Validate cable configuration\nif (coreLink.status === 'connected' && coreLink.a_terminations && coreLink.b_terminations) {\n  validationResults.validations.cable_configuration = {\n    status: 'passed',\n    details: {\n      cable_status: coreLink.status,\n      a_terminations_count: coreLink.a_terminations.length,\n      b_terminations_count: coreLink.b_terminations.length,\n      cable_type: coreLink.type,\n      label: coreLink.label\n    }\n  };\n} else {\n  validationResults.validations.cable_configuration = {\n    status: 'failed',\n    details: {\n      issue: 'Cable not properly configured or connected',\n      cable_status: coreLink.status,\n      missing_terminations: !coreLink.a_terminations || !coreLink.b_terminations\n    }\n  };\n}\n\n// Extract termination details for further validation\nvalidationResults.core_link_data = {\n  id: coreLink.id,\n  label: coreLink.label,\n  status: coreLink.status,\n  type: coreLink.type,\n  a_terminations: coreLink.a_terminations,\n  b_terminations: coreLink.b_terminations\n};\n\nreturn validationResults;"
      },
      "name": "Validate Core Link in NetBox",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 300],
      "id": "validate-core-link-netbox"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.NETBOX_URL }}/api/dcim/interfaces/{{ $json.core_link_data.a_terminations[0].object_id }}/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "netBoxApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token {{ $env.NETBOX_TOKEN }}"
            }
          ]
        }
      },
      "name": "Get Port A Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1920, 240],
      "id": "get-port-a-details"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.NETBOX_URL }}/api/dcim/interfaces/{{ $('Validate Core Link in NetBox').item(0).json.core_link_data.b_terminations[0].object_id }}/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "netBoxApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token {{ $env.NETBOX_TOKEN }}"
            }
          ]
        }
      },
      "name": "Get Port B Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1920, 360],
      "id": "get-port-b-details"
    },
    {
      "parameters": {
        "jsCode": "// Validate core ports configuration\nconst validationData = $('Validate Core Link in NetBox').item(0).json;\nconst portADetails = $('Get Port A Details').item(0).json;\nconst portBDetails = $('Get Port B Details').item(0).json;\n\n// Validate port configurations\nlet portValidationResults = {\n  port_a: {\n    status: 'unknown',\n    details: {\n      enabled: portADetails.enabled,\n      name: portADetails.name,\n      description: portADetails.description,\n      device: portADetails.device?.display,\n      type: portADetails.type?.label\n    }\n  },\n  port_b: {\n    status: 'unknown', \n    details: {\n      enabled: portBDetails.enabled,\n      name: portBDetails.name,\n      description: portBDetails.description,\n      device: portBDetails.device?.display,\n      type: portBDetails.type?.label\n    }\n  }\n};\n\n// Validate Port A\nif (portADetails.enabled && portADetails.cable) {\n  portValidationResults.port_a.status = 'passed';\n  portValidationResults.port_a.details.cable_connected = true;\n} else {\n  portValidationResults.port_a.status = 'failed';\n  portValidationResults.port_a.details.issues = [];\n  if (!portADetails.enabled) portValidationResults.port_a.details.issues.push('Port not enabled');\n  if (!portADetails.cable) portValidationResults.port_a.details.issues.push('No cable connected');\n}\n\n// Validate Port B\nif (portBDetails.enabled && portBDetails.cable) {\n  portValidationResults.port_b.status = 'passed';\n  portValidationResults.port_b.details.cable_connected = true;\n} else {\n  portValidationResults.port_b.status = 'failed';\n  portValidationResults.port_b.details.issues = [];\n  if (!portBDetails.enabled) portValidationResults.port_b.details.issues.push('Port not enabled');\n  if (!portBDetails.cable) portValidationResults.port_b.details.issues.push('No cable connected');\n}\n\n// Update overall port configuration status\nconst portConfigStatus = (portValidationResults.port_a.status === 'passed' && portValidationResults.port_b.status === 'passed') ? 'passed' : 'failed';\n\nvalidationData.validations.port_configuration = {\n  status: portConfigStatus,\n  details: portValidationResults\n};\n\n// Store port details for IPv6 validation\nvalidationData.port_details = {\n  port_a_id: portADetails.id,\n  port_b_id: portBDetails.id\n};\n\nreturn validationData;"
      },
      "name": "Validate Core Ports in NetBox",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2140, 300],
      "id": "validate-core-ports-netbox"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.NETBOX_URL }}/api/ipam/ip-addresses/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "netBoxApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token {{ $env.NETBOX_TOKEN }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "assigned_object_id",
              "value": "={{ $json.port_details.port_a_id }}"
            },
            {
              "name": "assigned_object_type",
              "value": "dcim.interface"
            }
          ]
        }
      },
      "name": "Get Port A IPv6 Assignments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2360, 240],
      "id": "get-port-a-ipv6"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.NETBOX_URL }}/api/ipam/ip-addresses/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "netBoxApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token {{ $env.NETBOX_TOKEN }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "assigned_object_id",
              "value": "={{ $('Validate Core Ports in NetBox').item(0).json.port_details.port_b_id }}"
            },
            {
              "name": "assigned_object_type",
              "value": "dcim.interface"
            }
          ]
        }
      },
      "name": "Get Port B IPv6 Assignments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2360, 360],
      "id": "get-port-b-ipv6"
    },
    {
      "parameters": {
        "jsCode": "// Validate IPv6 address assignments\nconst validationData = $('Validate Core Ports in NetBox').item(0).json;\nconst portAIPv6 = $('Get Port A IPv6 Assignments').item(0).json;\nconst portBIPv6 = $('Get Port B IPv6 Assignments').item(0).json;\n\n// Validate IPv6 assignments\nlet ipv6ValidationResults = {\n  port_a_ipv6: {\n    status: 'unknown',\n    details: {\n      assignment_count: portAIPv6.count,\n      addresses: portAIPv6.results.map(addr => addr.address)\n    }\n  },\n  port_b_ipv6: {\n    status: 'unknown',\n    details: {\n      assignment_count: portBIPv6.count,\n      addresses: portBIPv6.results.map(addr => addr.address)\n    }\n  },\n  prefix_validation: {\n    status: 'unknown',\n    details: {}\n  }\n};\n\n// Validate Port A IPv6\nif (portAIPv6.count > 0) {\n  ipv6ValidationResults.port_a_ipv6.status = 'passed';\n  ipv6ValidationResults.port_a_ipv6.details.primary_address = portAIPv6.results[0].address;\n} else {\n  ipv6ValidationResults.port_a_ipv6.status = 'failed';\n  ipv6ValidationResults.port_a_ipv6.details.issue = 'No IPv6 address assigned';\n}\n\n// Validate Port B IPv6\nif (portBIPv6.count > 0) {\n  ipv6ValidationResults.port_b_ipv6.status = 'passed';\n  ipv6ValidationResults.port_b_ipv6.details.primary_address = portBIPv6.results[0].address;\n} else {\n  ipv6ValidationResults.port_b_ipv6.status = 'failed';\n  ipv6ValidationResults.port_b_ipv6.details.issue = 'No IPv6 address assigned';\n}\n\n// Validate prefix consistency (both addresses should be in same /127 subnet)\nif (portAIPv6.count > 0 && portBIPv6.count > 0) {\n  const addrA = portAIPv6.results[0].address;\n  const addrB = portBIPv6.results[0].address;\n  \n  // Basic validation - both should be IPv6 and in point-to-point subnet\n  if (addrA.includes(':') && addrB.includes(':')) {\n    ipv6ValidationResults.prefix_validation.status = 'passed';\n    ipv6ValidationResults.prefix_validation.details = {\n      side_a_address: addrA,\n      side_b_address: addrB,\n      consistent: true\n    };\n  } else {\n    ipv6ValidationResults.prefix_validation.status = 'warning';\n    ipv6ValidationResults.prefix_validation.details.issue = 'Non-IPv6 addresses detected';\n  }\n} else {\n  ipv6ValidationResults.prefix_validation.status = 'failed';\n  ipv6ValidationResults.prefix_validation.details.issue = 'Missing IPv6 addresses on one or both sides';\n}\n\n// Update overall IPv6 validation status\nconst ipv6Status = (\n  ipv6ValidationResults.port_a_ipv6.status === 'passed' && \n  ipv6ValidationResults.port_b_ipv6.status === 'passed' &&\n  ipv6ValidationResults.prefix_validation.status === 'passed'\n) ? 'passed' : 'failed';\n\nvalidationData.validations.ipv6_assignments = {\n  status: ipv6Status,\n  details: ipv6ValidationResults\n};\n\nreturn validationData;"
      },
      "name": "Validate IPv6 Assignments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2580, 300],
      "id": "validate-ipv6-assignments"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nrm_sync_status",
              "name": "nrm_sync_status",
              "type": "string",
              "value": "passed"
            },
            {
              "id": "nrm_details",
              "name": "nrm_details",
              "type": "object",
              "value": "{\n  \"mock_validation\": true,\n  \"nrm_id_exists\": true,\n  \"last_sync\": \"2024-12-19T15:30:00Z\",\n  \"sync_status\": \"synchronized\"\n}"
            }
          ]
        }
      },
      "name": "Validate NRM Synchronization",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [2800, 300],
      "id": "validate-nrm-sync"
    },
    {
      "parameters": {
        "jsCode": "// Generate final validation report\nconst validationData = $input.all()[0].json;\nconst nrmSyncData = $('Validate NRM Synchronization').item(0).json;\n\n// Add NRM validation results\nvalidationData.validations.nrm_synchronization = {\n  status: nrmSyncData.nrm_sync_status,\n  details: nrmSyncData.nrm_details\n};\n\n// Calculate overall validation status\nconst validationStatuses = Object.values(validationData.validations).map(v => v.status);\nconst failedValidations = validationStatuses.filter(status => status === 'failed').length;\nconst passedValidations = validationStatuses.filter(status => status === 'passed').length;\nconst warningValidations = validationStatuses.filter(status => status === 'warning').length;\n\nlet overallStatus;\nif (failedValidations > 0) {\n  overallStatus = 'failed';\n} else if (warningValidations > 0) {\n  overallStatus = 'warning';\n} else {\n  overallStatus = 'passed';\n}\n\n// Update overall status and add summary\nvalidationData.overall_status = overallStatus;\nvalidationData.validation_summary = {\n  total_validations: validationStatuses.length,\n  passed: passedValidations,\n  failed: failedValidations,\n  warnings: warningValidations,\n  completion_timestamp: new Date().toISOString()\n};\n\n// Set subscription sync status\nvalidationData.subscription_sync_status = overallStatus === 'passed' ? 'in_sync' : 'out_of_sync';\n\nreturn validationData;"
      },
      "name": "Generate Validation Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3020, 300],
      "id": "generate-validation-report"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow_status",
              "name": "workflow_status",
              "type": "string",
              "value": "completed"
            },
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "Core link validation completed"
            }
          ]
        }
      },
      "name": "Set Validation Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [3240, 300],
      "id": "validation-complete"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow_status",
              "name": "workflow_status",
              "type": "string",
              "value": "failed"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "type": "string",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "name": "Set Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1700, 600],
      "id": "error-response"
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Initialize Validation Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Validation Variables": {
      "main": [
        [
          {
            "node": "Load Core Link from NetBox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Core Link from NetBox": {
      "main": [
        [
          {
            "node": "Check Core Link Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Core Link Exists": {
      "main": [
        [
          {
            "node": "Validate Core Link in NetBox",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Validation Error - Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Validation Error - Not Found": {
      "main": [
        [
          {
            "node": "Set Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Core Link in NetBox": {
      "main": [
        [
          {
            "node": "Get Port A Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Port B Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Port A Details": {
      "main": [
        [
          {
            "node": "Validate Core Ports in NetBox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Port B Details": {
      "main": [
        [
          {
            "node": "Validate Core Ports in NetBox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Core Ports in NetBox": {
      "main": [
        [
          {
            "node": "Get Port A IPv6 Assignments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Port B IPv6 Assignments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Port A IPv6 Assignments": {
      "main": [
        [
          {
            "node": "Validate IPv6 Assignments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Port B IPv6 Assignments": {
      "main": [
        [
          {
            "node": "Validate IPv6 Assignments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate IPv6 Assignments": {
      "main": [
        [
          {
            "node": "Validate NRM Synchronization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate NRM Synchronization": {
      "main": [
        [
          {
            "node": "Generate Validation Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Validation Report": {
      "main": [
        [
          {
            "node": "Set Validation Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["core_link", "network", "validation", "consistency", "netbox", "orchestrator"],
  "triggerCount": 0,
  "updatedAt": "2024-12-19T15:45:00.000Z",
  "versionId": "1.0.0"
}
